*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.container{
    /* background-color: antiquewhite; */
    padding: 40px;
    /* border: 2px solid grey; */
    margin: 40px;
    text-align: center;
}
h1{
    margin-bottom: 30px;
}
input{
    padding: 10px 50px;
    outline: none;
}
.btn{
    padding: 10px;
}
.line{
    color: aqua;
    opacity: 0.5;
    text-decoration: line-through;
}